.chatToggleButton{
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.chatButton{
  position: absolute;
  z-index: 3;
  right: 170px;
  margin-top: 8px;
}

.messaging{
  border-radius: 10px 10px 10px 10px;
  position: absolute;
  z-index: 3;
  top: 50px;
  right: 0px;
  height: 500px;
  width: 250px;
  border: 2px solid red;
}

.chatTitle{
  margin: 0;
  border-radius: 10px 10px 0px 0px;
  height: 25px;
  width: 250px;
  text-align: center;
  display: block;
  color: white;
  background:  red;
}

.innerChatTitle{
  width: 225px;
  display: inline;
  padding-left: 75px;
  padding-right: 70px;
}

.minButton{
  padding: 5px;
  border-radius: 20px;
  display: inline;
  height: 15px;
  position: absolute;
  right: 0px;
  width: 15px;
  cursor: pointer;
}

.minButton:hover{
  background: rgba(0,0,0,.4);
}

.messageSending{
  width: 250px;
  display: flex;
}

.messageInput{
  border-radius: 20px;
  margin-left: 5px;
  width: 200px;
  margin-top: 8px;
  padding: 5px;
  overflow: show;
}

.messageInput:focus{
  outline: none;
}

.messageSend{
  width: 20px;
  border-radius: 20px;
  padding: 5px;
  cursor: pointer;
  margin-top: 3px;
}

.messageSend:hover{
  background: rgba(0,0,0,.2);
}

.incomming{
  padding: 2px;
  width: 100%;
  text-align: end;
}

.incomming p{
  padding: 0px;
  margin: 0 5px 0 0;
  display: block;
}

.outgoing{
  padding: 2px;
  width: 100%;
  text-align: start;
}

.outgoing p{
  padding: 0px;
  display: block;
  margin: 0;
}

.senderName{
  font-weight: bold;
}
