.note{
  position: absolute;
  display: flex;
}

.note:hover .moveOptions {
  display: block;
}

.moveOptions{
  display: block;
  width: 27px;
  margin-left: 250px;
  display: none;
  position: absolute;
  padding-right: 2px;
  z-index: 1;
  background-color: rgba(0,0,0,.1);
}

.noteBody{
  cursor: text;
  margin: 4px;
  width: 242px;
  height: 242px;
  max-height: 242px;
  scroll-behavior: auto;
}

.noteMove{
  width: 25px;
  height: 25px;
  margin-left: 2px;
  margin-top: 5px;
  cursor: move;
}

.dropdown{
  display: block;
}

.noteOptions{
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin-left: 2px;
}

.dropdown:hover .dropdownContent {
  display: block;
}

.dropdown:hover .noteOptions {
  background-color: rgba(0,0,0,.4);
}

.dropdownContent {
  align-self: center;
  margin-top: -4px;
  display: none;
  z-index: 1;
}

.dropdownContent img{
  width: 21px;
  height: 21px;
  padding: 2px;
  margin-left: 2px;
  display: block;
  background-color: rgba(0,0,0,.4);
}

.dropdownContent img:hover {
  background-color: #333333;
  cursor: pointer;
  margin-left: 0px;
  width: 26px;
  height: 26px;
}

::placeholder {
  color: #333333;
}

.noteBodyStyle {
  display: block;
}

.noteBodyStyle:hover .styleContent {
  display: block;
}

.styleContent {
  display: none;
  background-color: rgba(0,0,0,.1);
  position: absolute;
  z-index: 1;
}

.styleContent img {
  width: 20px;
  height: 20px;
  padding: 3px;
  margin: 0px;
}

.styleContent img:hover {
  background-color: #888888;
  cursor: pointer;
  width: 25px;
  height: 25px;
}
