.flex_box {
  display: flex;
  padding-top: 10%;
  justify-content: center;
  text-align: center;
}
.flex_box > div {
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  border: 3px solid red;
  border-radius: 20px;
  background-color: #595959;
}
.headings{
  font-size: 40px;
}
.buttons{
  font-size: 30px;
}
.error{
  font-size: 15px;
  color: red;
  visibility: hidden;
}
.buttonAdd{
  cursor: pointer;
  font-size: 25px;
  margin-top: 5px;
  background-color: red;
  border-radius: 20px;
  border-color: darkred;
  color: white;
  display: inline-block;
}
.buttonRoom{
  cursor: pointer;
  background-color: red;
  border-color: darkred;
  color: white;
  border-radius: 10px;
}
ul {
  z-index: 999;
  list-style-type: none;
  margin: 0;
  padding-left: 0px;
  padding-bottom: 2px;
  overflow: hidden;
  background-color: #000000;
  position: fixed;
  top: 0px;
  width: 100%;
}
li {
  float: left;
  padding-left: 5px;
  padding-right: 5px;
}
li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}
