.flex_box {
  display: flex;
  padding-top: 10%;
  justify-content: center;
  text-align: center;
}
.flex_box > div {
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  border: 3px solid red;
  border-radius: 20px;
  background-color: #595959;
}
.headings{
  font-size: 40px;
}
.buttons{
  font-size: 30px;
}
.error{
  font-size: 15px;
  color: red;
  visibility: hidden;
}
